
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <link rel = "icon" href ="logo.jpg" 
        type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/aboutus.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #385c85;">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div><a class="navbar-brand" href="#">EXPENDITURE MANAGEMENT</a>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="/">Image</a></li>
                    <li ><a href="/upload">Text</a></li>
                    <li  ><a href="/visuals">Visualize</a></li>
                  <li  class="active"><a href="#">About us</a></li>
                  <li><a href="/login">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="background">
            <img src="https://images.pexels.com/photos/4386341/pexels-photo-4386341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <section class="section" >
            
            <div class = "image">
                <h2>ABOUT SYSTEM</h2>
                <span></span>
              
                <p>The Personalized Expenditure Management System  is a web-based application designed to help users manage their expenses efficiently. The system is designed to provide users with a personalized experience that suits their spending habits and financial goals. PEMS allows users to input and track their expenses, categorize them, set budgets, and monitor their progress towards financial goals. The system also provides users with visual representations of their spending patterns, enabling them to identify areas where they can cut back or adjust their spending. With PEMS, users can create customized reports and export their data to other financial management tools. Overall, PEMS is a powerful tool that empowers users to take control of their finances and make better-informed decisions about their spending.</p>
            </div>
            
            <div class = "content">
                
                <h2>About Us</h2>
                <span></span>
                <p> </p>
                <ul class = "links">
                    <li><a href = "#">Personalized</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Expenditure</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Management</a></li>
                   
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                   
                </ul>
            </div>
        </section><br><br>
       
    </body>
</html>
